@import url("https://fonts.googleapis.com/css2?family=Euphoria+Script&display=swap");
header {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #acecfb;
  z-index: 2;
  height: 10rem; }

h1 {
  color: #F183BB;
  font-family: 'Euphoria Script', cursive;
  text-align: center;
  font-size: 70px;
  font-weight: bold; }

.ancla {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #F183BB; }

.facebookIcono {
  width: 40px; }

.instagramIcono {
  width: 40px; }

/*li {list-style-type: none;
}
*/
/* IMAGENES*/
.encabezado {
  width: 150px; }

.facebookIconoContacto {
  width: 20px; }

.instagramIconoContacto {
  width: 20px; }

body {
  color: #F183BB;
  background-color: #BCE4D3;
  background-image: url(../Imag/imagenfondochocoagua.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: 100%; }

h2 {
  color: #F183BB;
  font-family: 'Euphoria Script', cursive;
  font-size: 50px;
  font-weight: bold; }

/* BOX DE PRODUCTOS*/
.centrado {
  background: rgba(171, 236, 251, 0.4);
  display: flex;
  align-self: center;
  border: 1px solid; }

/* PREGUNTAS FRECUENTES */
.contenedorPreguntas {
  background: rgba(171, 236, 251, 0.4);
  display: flex;
  flex-direction: column;
  margin: 15px;
  border: 1px solid;
  text-align: center; }

* {
  padding: 0;
  margin: 0; }
