/*body {color:$color-letras;
    background-color:#BCE4D3 ;
    background-image: url(../Imag/imagenfondochocoaguaNUEVA4.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}*/

body{
    background-color:#BCE4D3 ;
    background-image: url(../Imag/imagenfondochocolate.jpg);
}

h2 {color:$color-letras;
    font-family: 'Euphoria Script', cursive;
    font-size: 50px; 
    font-weight: bold;
}

/* BOX DE PRODUCTOS*/
.contenedorProductos {
    margin-top: 120px;
}


.centrado {
    /*background: rgba(171, 236, 251,0.4) ;
 display:flex;*/
align-self: center;
/*border: 1px solid;*/
}


/* PREGUNTAS FRECUENTES */
.contenedorPreguntas {
    background: rgba(171, 236, 251,0.4) ;
    /*display: flex ;
    border: 1px solid;
   text-align: center;
   flex-direction: column;
   margin:15px; */
}

.carrusel {
    margin-top: 120px;
    margin-bottom: 50px;
}

.contenedorGrandePreguntas {
    margin-top: 130px;
    margin-bottom: 70px;
}

main {
    margin-top: 250px ;
}