body{
    background-color:#BCE4D3 ;
    background-image: url(../Imag/imagenfondochocolate.jpg);
}

h2 {color:$color-letras;
    font-family: 'Euphoria Script', cursive;
    font-size: 50px; 
    font-weight: bold;
}

/* BOX DE PRODUCTOS*/
.contenedorProductos {
    margin-top: 120px;
}


.centrado {    
align-self: center;
}


/* PREGUNTAS FRECUENTES */
.contenedorPreguntas {
    background: rgba(171, 236, 251,0.4) ;
   
}

.carrusel {
    margin-top: 120px;
    margin-bottom: 50px;
}

.contenedorGrandePreguntas {
    margin-top: 130px;
    margin-bottom: 70px;
}

main {
    margin-top: 250px ;
}