body {color:$color-letras;
    background-color:#BCE4D3 ;
    background-image: url(../Imag/imagenfondochocoagua.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: 100%;
}


h2 {color:$color-letras;
    font-family: 'Euphoria Script', cursive;
    font-size: 50px; 
    font-weight: bold;
}

/* BOX DE PRODUCTOS*/

.centrado {
    background: rgba(171, 236, 251,0.4) ;
 display:flex;
align-self: center;
border: 1px solid;
}


/* PREGUNTAS FRECUENTES */
.contenedorPreguntas {
    background: rgba(171, 236, 251,0.4) ;
    display: flex ;
    flex-direction: column;
    margin:15px; 

   border: 1px solid;
   text-align: center;
}