
/*CONTACTO*/

form {
    width: 600px;
    margin: auto;
    background:rgba(0,0,0, 0.5);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 50px;
}

h3 {color:$color-letras;
    font-family: 'Euphoria Script', cursive;
    font-size: 2rem;
    text-align: center; 
    font-weight: bold;

}



h4 {
    color:$color-letras;
    font-family: 'Euphoria Script', cursive;
    font-size: 3rem;
    text-align: center; 
    font-weight: bold;
}
legend {
        color:$color-letras;
        font-family: 'Euphoria Script', cursive;
        font-size: 1.3rem;
        text-align: center; 
        font-weight: bold;
        margin-bottom: 20px;
}

input,textarea { 
    width: 100%;
    margin-bottom: 15px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    font-family: monospace;
    border: none;
      
}

textarea {
    min-height: 100px;
    max-height: 200px;
    max-width: 500 px; 
    overflow: scroll;
 
}

.botonContacto {
    background-color: $color-letras;
    color: white; 
    font-weight: bold;
    padding: 15px; 
    width: 220px; 
    height: 50px;
    border: none;
    outline: none;
    border-radius: 8px;
   
}

.botonContacto:hover {
    cursor: pointer;
    background-color: rgb(255, 20, 137); 
  
     
}


@media (max-width:480px) {
    form {
        width: 100%;
    }
}

/* DATOS DE CONTACTO NUESTROS */
.contenedorGrandeContacto{
    padding:  0px 30px;
    border: 10px;
    display: flex;
    justify-content: center;
    width: 100%;
   
}

.datosDeContacto {
    width: 600px;
    background: linear-gradient(to top,rgb(243, 195, 223),rgb(255, 243, 250));
    background:rgba(0,0,0, 0.5);
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 7px;
}

.facebookIconoContacto{
    width: 50px;
 
}

.instagramIconoContacto{
    width: 50px;
}

.mapa {
    background:rgba(0,0,0, 0.5);
    margin: auto;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 7px;
    margin-bottom: 30px;
    width: 44%;
}
